*{
	margin: 0;
	padding: 0;
}

html{
	min-height: 100hv;
}

.Header{
	background-color: #c11010;
	width: 100%;
	border-botom: 1px solid black;
	padding: 20px;
	box-sizing: border-box;
	position: relative;
}

.Header-title{
	color: white;
	margin:  0;
	font-size: calc(60px + 20 * ((100vw - 420px) / 860));
	font-family: 'Lobster Two', cursive;
	font-weight: 700;
	font-style: italic;
}

.Header-title span{
	color: #2b0000;
}

.Header-menu{
	position: absolute;
	top: 25%;
	right: 20px;
	cursor: pointer;
	width: 60px;
}

.Header-menu img {
	max-width: 100%;
}

.Header-nav{
	position: fixed;
	right: 0;
	top: 0;
	width: 250px;
	padding: 10px;
	height: 100%;
	background-color: #141414;
	display: none;
	box-shadow: -3px 0px 5px #0f0f0f;
}

.Header-nav li{
	list-style: none;
	padding:  30px 20px;
}

.Header-nav li a{
	text-decoration: none;
	font-size: 25px;
	color: white;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
}

.Header-nav-close{
	position: absolute;
	right: 20px;
	top: 30px;
	width: 50px;
}

.Header-nav-close img{
	max-width: 100%;
	cursor: pointer;
}

.Login-content{
	height: 300px;
	display: -webkit-box;
	display: flex;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #c11010;
}

.Login-content-title{
	color: #3c3c3c;
	margin:  0;
	font-size: calc(60px + 40 * ((100vw - 420px) / 860));
	font-family: 'Lobster Two', cursive;
	font-weight: 700;
	font-style: italic;
	color: white;
}

.Login-content-title span{
	color: #2b0000;
}

.Login-content-form{
	padding: 60px;
}

.Login-content-form fieldset{
	max-width: 300px;
	padding: 40px;
	border-radius: 12px;
	position: relative;
	border:  0px;
	background-color: #e6e6e6;
}

.Login-content-form fieldset input[type="text"], .Login-content-form fieldset input[type="password"]{
	width: 100%;
	height: 30px;
	margin-bottom: 10px;
	border-radius: 4px;
	border: 1px solid #888888;
	padding: 5px;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
	font-size: 18px;
}

.Login-content-form fieldset h2{
	font-family: 'Lobster Two', cursive;
	text-align: center;
	font-size: calc(40px + 20 * ((100vw - 420px) / 860));
	color: #c11010;
	font-weight: 700;
	margin-bottom: 5px;
}

.Login-content-form fieldset input[type="submit"]{
	width: 100%;
	height: 35px;
	background-color: #c11010;
	border: 1px solid #770d0d;
	border-radius: 4px;
	color: white;
	font-size: 18px;
	font-family: 'Lobster Two', cursive;
}

.Login-content-form fieldset a{
	font-style: none;
	color: #565656;
	font-family: 'Josefin Sans', sans-serif;
	text-decoration: none;
	text-align: center;
	display: block;
	margin-top: 5px;
}

.Login-content-form fieldset .dir{
	width: 0;
	height: 0;
	border-top: 16px solid transparent;
	border-bottom: 16px solid transparent;
	border-right: 20px solid #e6e6e6;
	position: absolute;
	top: -50%;
	left: -20px;
	margin-top: 50%;
}

.Login-content{
	-webkit-box-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	        align-items: center;
}

.Login-content-title span{}

.Login-content-form fieldset input[type="text"], .Login-content-form fieldset input[type="password"]{}

.Login-content-form fieldset h2{}

.Login-content-form fieldset input[type="submit"]{}

.Login-content-form fieldset a{}

.Login-content-form fieldset .dir{}

.Home-content h1{
	font-family: 'Lobster Two', cursive;
	text-align: center;
	font-size: calc(40px + 20 * ((100vw - 420px) / 860));
	margin: 20px;
	margin-bottom: 0;
	color: #8d0d0d;
}

.Home-content > p{
	text-align: center;
	line-height: 1;
	font-weight: 700;
	font-size: 20px;
	font-family: 'Josefin Sans', sans-serif;
	color: #3c3c3c;
}

.Home-content ul{
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	        flex-flow: row wrap;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	max-width: 1200px;
}

.Home-content ul li{
	width: calc(99.9% * 1/6 - 25px);
	list-style: none;
}

.Home-content ul li img{
	width: 100%;
	cursor: pointer;
}

.Home-content ul li p{
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	font-weight: 700;
	color: #3c3c3c;
}

.Home-content ul li:nth-child(1n){
	float: left;
	margin-right: 30px;
	clear: none;
}

.Home-content ul li:nth-child(1n) img{}

.Home-content ul li:nth-child(1n) p{}

.Home-content ul li:last-child{
	margin-right: 0;
}

.Home-content ul li:last-child img{}

.Home-content ul li:last-child p{}

.Home-content ul li:nth-child(6n){
	margin-right: 0;
	float: right;
}

.Home-content ul li:nth-child(6n) img{}

.Home-content ul li:nth-child(6n) p{}

.Home-content ul li:nth-child(6n + 1){
	clear: both;
}

.Home-content ul li:nth-child(6n + 1) img{}

.Home-content ul li:nth-child(6n + 1) p{}

.Docente h1{
	text-align: center;
	font-family: 'Lobster Two', cursive;
	margin:  20px;
	font-size: 60px;
	margin-bottom: 0;
}

.Docente-content{
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	        flex-flow: row wrap;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
	max-height: 80%;
	padding: 40px;
}

.Docente-content-form, .Docente-content-img{
	-webkit-box-flex: 0;
	        flex-grow: 0;
	flex-shrink: 0;
	flex-basis: calc(99.9% * 1/2 - 15px);
	width: calc(99.9% * 1/2 - 15px);
}

.Docente-content-form:nth-child(1n), .Docente-content-img:nth-child(1n){
	margin-right: 30px;
	margin-left: 0;
}

.Docente-content-form:last-child, .Docente-content-img:last-child{
	margin-right: 0;
}

.Docente-content-form:nth-child(2n), .Docente-content-img:nth-child(2n){
	margin-right: 0;
	margin-left: auto;
}

.Docente-content-img img{
	width: 100%;
	background-color: #fc6e51;
}

.Docente-content-img button{
	background: #c11010;
	border: 0px;
	height: 38px;
	width: 100%;
	font-family: 'Lobster Two', cursive;
	font-weight: 700;
	font-size: 20px;
	color: white;
	cursor: pointer;
}

.Docente-content-form fieldset{
	text-align: right;
	border:  0px;
}

.Docente-content-form fieldset label{
	display: block;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 15px;
	font-weight: 700;
	text-align: left;
	padding: 5px;
}

.Docente-content-form fieldset input{
	height: 30px;
	width: 100%;
	font-family: 'Josefin Sans', sans-serif;
	padding: 5px;
	box-sizing: border-box;
}

.Docente-content-form fieldset input[type="submit"]{
	width: 50%;
	max-width: 300px;
	background: #d92738;
	font-size: 20px;
	color: white;
	font-family: 'Lobster Two', cursive;
	/* font-weight: 700; */
	border: 0px;
	margin: 10px 0px;
	padding: 5px;
	height: auto;
	cursor: pointer;
}

.Docente-content-form-id{
	font-size: 0 !important;
}

.Docente-content-form-id input{
	height: 30px;
	width: 79% !important;
	display: inline-block !important;
}

.Docente-content-form-id select{
	height: 30px;
	width: 20%;
	display: inline-block !important;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 17px;
	box-sizing: border-box;
	vertical-align: bottom;
	border-right: 0px;
}

.Estudiante h1{
	text-align: center;
	font-family: 'Lobster Two', cursive;
	margin:  20px;
	font-size: 60px;
	margin-bottom: 0;
}

.Estudiante-content{
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	        flex-flow: row wrap;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
	max-height: 80%;
	padding: 40px;
}

.Estudiante-content-form, .Estudiante-content-img{
	-webkit-box-flex: 0;
	        flex-grow: 0;
	flex-shrink: 0;
	flex-basis: calc(99.9% * 1/2 - 15px);
	width: calc(99.9% * 1/2 - 15px);
}

.Estudiante-content-form:nth-child(1n), .Estudiante-content-img:nth-child(1n){
	margin-right: 30px;
	margin-left: 0;
}

.Estudiante-content-form:last-child, .Estudiante-content-img:last-child{
	margin-right: 0;
}

.Estudiante-content-form:nth-child(2n), .Estudiante-content-img:nth-child(2n){
	margin-right: 0;
	margin-left: auto;
}

.Estudiante-content-img img{
	width: 100%;
	background-color: #fc6e51;
}

.Estudiante-content-img button{
	background: #c11010;
	border: 0px;
	height: 38px;
	width: 100%;
	font-family: 'Lobster Two', cursive;
	font-weight: 700;
	font-size: 20px;
	color: white;
	cursor: pointer;
}

.Estudiante-content-form fieldset{
	text-align: right;
	border:  0px;
}

.Estudiante-content-form fieldset label{
	display: block;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 15px;
	font-weight: 700;
	text-align: left;
	padding: 5px;
}

.Estudiante-content-form fieldset input{
	height: 30px;
	width: 100%;
	font-family: 'Josefin Sans', sans-serif;
	padding: 5px;
	box-sizing: border-box;
}

.Estudiante-content-form fieldset input[type="submit"]{
	width: 50%;
	max-width: 300px;
	background: #d92738;
	font-size: 20px;
	color: white;
	font-family: 'Lobster Two', cursive;
	/* font-weight: 700; */
	border: 0px;
	margin: 10px 0px;
	padding: 5px;
	height: auto;
	cursor: pointer;
}

.Estudiante-content-form-id{
	font-size: 0 !important;
}

.Estudiante-content-form-id input{
	height: 30px;
	width: 79% !important;
	display: inline-block !important;
}

.Estudiante-content-form-id select{
	height: 30px;
	width: 20%;
	display: inline-block !important;
	text-align: center;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 17px;
	box-sizing: border-box;
	vertical-align: bottom;
	border-right: 0px;
}

@media screen and (min-width: 1280px){

	.Header-title{
		font-size: 80px;
	}

	.Login-content-title{
		font-size: 100px;
	}

	.Login-content-form fieldset h2{
		font-size: 60px;
	}

	.Home-content h1{
		font-size: 60px;
	}
}

@media screen and (max-width: 420px){

	.Header-title{
		font-size: 60px;
	}

	.Login-content-title{
		font-size: 60px;
	}

	.Login-content-form fieldset h2{
		font-size: 40px;
	}

	.Home-content h1{
		font-size: 40px;
	}
}